@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --blue: #1d9bf0;
  --gray: rgba(0, 0, 0, 0.43);
  --black: rgba(20, 20, 43, 1);
  --background: #e5e5e5;
  --white: #fff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
